services:
  db:
    image: postgres:15-alpine
    container_name: ts-pneus-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: